{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home 
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> <!-- Link to CSS file -->

    <div class="parent-div">
        <!-- Blog Post Form Section -->
        <div class="form-container">
            <h1>Blog Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="image">Upload Image</label>
                    {{ form.image }}
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    {{ form.content }}
                </div>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>

        <!-- Blogs List Section -->
        <div class="blogs-container">
            <h1>Your Blogs</h1>
            {% if blogs %}
                <div>
                    {% for blog in blogs %}
                        <div class="blog-item">
                            <span>{{ blog.title }}</span>
                            {% comment %} <a href="{% url 'read_blog' blog.pk %}">Read more</a> {% endcomment %}
                            <form method="post" action="{% url 'delete_blog' blog.pk %}" onsubmit="return confirmDelete('{{ blog.title }}');">
                                {% csrf_token %}
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No blog posts yet!</p>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'javascript/home.js' %}"></script>
{% endblock %}
