{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="parent-div">
        <div class="signin-container">
            <div>
                <h1 class="thin-text">Have a story to tell?</h1>
                <h3 class="thin-text">Share your thoughts and let your voice be heard. <br> Start writing today!</h3>
            </div>
            <div>
                <h2 class="thin-text">Login</h2>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-container">
                        <p>Username</p>
                        {{ form.username }}
                    </div>
                    <div class="input-container">
                        <p>Password</p>
                        {{ form.password }}
                    </div>
                    <br>
                    <a href="{% url 'signup' %}" class="signup-link">Don't have an account? Signup</a>
                    <br>
                    <div>
                        <button class="btn-signin" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'images/a.png' %}" alt="Image description">
        </div>
    </div>
</body>
</html>
